<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lefebvre David</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    
    <ion-card-header class="pres">

      <img src="/assets/moi.jpg" alt="">

      <ion-card-title class="ion-text-center">Développeur Web et Web mobile</ion-card-title>
      <ion-card-subtitle class="ion-text-center">En formation avec WebForce 3</ion-card-subtitle>
      
    </ion-card-header>
  </ion-card>

  <ion-card>

    <ion-card-content class="text" class="ion-text-justify">
      <p>Bonjour je me présente je m'appelle Lefebvre David.</p>
      <br>
      <p>Je suis né le 06/11/1988.</p>
      <br>
      <p>Le numerique a toujorus etait ma plus grande passion j'ai toujours eux envie de creer des sites web.</p>
      <br>
      <p>Mon premier site je l'avais creer sur <a href="http://www.populus.ch/" target="_blank">Populus.ch</a> 
        quand javais 13ans.</p>
    </ion-card-content>

  </ion-card>

</ion-content>