<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-text color="success">
        <h3>En cours</h3>
      </ion-text>
    </ion-list-header>

    <ion-item>
      <ion-badge color="primary" slot="start">Personelle</ion-badge>
      <ion-label class="ion-text-center">
        <h2>Travail personelle</h2>
        <h3>sur la version 2 du site</h3>
        <a href="https://www.euratechkids.com/">Euratech'kids</a>
      </ion-label>
      <ion-badge color="danger" slot="end">En Cours</ion-badge>
    </ion-item>

  </ion-list>

</ion-content>