<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-icon class="linkedin" name="logo-linkedin" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>LinkedIn</h5>
      </ion-list-header>
      <a slot="end" href="https://www.linkedin.com/in/david-lefebvre/">in/david-lefebvre</a>
    </ion-item>

    <ion-item>
      <ion-icon class="github" name="logo-github" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>GitHub</h5>
      </ion-list-header>
      <a slot="end" href="https://github.com/lefebvredavid59">lefebvredavid59</a>
    </ion-item>

    <ion-item>
      <ion-icon class="github" name="mail" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>E-Mail</h5>
      </ion-list-header>
      <a slot="end" href="mailto:dlefebvredev@gmail.com">Contact par mail</a>
    </ion-item>

  </ion-list>

  <ion-card>
    <ion-card-header color="success">
      <ion-card-title class="ion-text-center">Me trouver</ion-card-title>
    </ion-card-header>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40807.75824852003!2d3.3769856405604175!3d50.264204239101176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2945e3043e9f7%3A0xb4bf2097b6b06ac2!2sHaspres!5e0!3m2!1sfr!2sfr!4v1579993992209!5m2!1sfr!2sfr" 
      width="400" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-icon class="site" name="desktop" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>Site CV</h5>
      </ion-list-header>
      <a href="https://lefebvredavid.fr/">Site</a>
    </ion-item>
  </ion-list>

</ion-content>