.html{
    color: #ff651f;
}

.css{
    color: #1c88c7;
}

.js{
    color: #ffd83a;
}

.angular{
    color: #dd0031;
}

.wordpress{
    color: #1c6af2;
}

.bootstrap{
	color: #563d7c;
}

.php{
	color: #777bb3;
}

.sql{
	color: #e48e00;
}

.symfony{
    color: #3C4947;
}

.laravel{
    color: #ff291a;
}

.reactjs{
    color: #61dbfb;
}

.ionic{
    color: #478aff;
}