<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Compétences
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-icon class="html" name="logo-html5" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>HTML5</h5>
      </ion-list-header>
      <ion-progress-bar class="html" value="0.7" buffer="0.7"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-icon class="css" name="logo-css3" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>CSS</h5>
      </ion-list-header>
      <ion-progress-bar class="css" value="0.4" buffer="0.4"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-icon class="bootstrap" name="cloud-upload" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>Bootstrap</h5>
      </ion-list-header>
      <ion-progress-bar value="0.4" buffer="0.4"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-icon class="js" name="logo-javascript" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>Java Script</h5>
      </ion-list-header>
      <ion-progress-bar class="js" value="0.2" buffer="0.2"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-icon class="php" name="cloud-upload" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>PHP</h5>
      </ion-list-header>
      <ion-progress-bar value="0.4" buffer="0.4"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-icon class="sql" name="cloud-upload" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>SQL</h5>
      </ion-list-header>
      <ion-progress-bar value="0.3" buffer="0.3"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-icon class="wordpress" name="logo-wordpress" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>WordPress</h5>
      </ion-list-header>
      <ion-progress-bar class="wordpress" value="0.5" buffer="0.5"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-icon class="angular" name="logo-angular" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>Angular</h5>
      </ion-list-header>
     <ion-progress-bar class="angular" value="0.4" buffer="0.4"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-icon class="ionic" name="logo-ionic" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>Ionic</h5>
      </ion-list-header>
      <ion-progress-bar value="0.3" buffer="0.3"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-icon class="reactjs" name="cloud-upload" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>React JS</h5>
      </ion-list-header>
      <ion-progress-bar value="0.2" buffer="0.2"></ion-progress-bar>
    </ion-item>

    <ion-item>
      <ion-icon class="symfony" name="cloud-upload" size="large" slot="start"></ion-icon>
      <ion-list-header>
        <h5>Symfony</h5>
      </ion-list-header>
      <ion-progress-bar value="0.3" buffer="0.3"></ion-progress-bar>
    </ion-item>

  </ion-list>

</ion-content>