<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Réalisations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Site CV</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Juste mon site CV.
    </ion-card-content>
    <ion-card-subtitle>
      <a href="https://www.lefebvredavid.fr" target="_blank">
        <ion-button expand="block" fill="outline">
          <p> Lien </p>
        </ion-button>
      </a>
    </ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Site friterie</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Petit site fait pour m'amuser un compteur en <ion-text color="danger">JavaScript</ion-text> d'écompte les jours avant noël.
      Chaque lettre a une couleur differente quand ont passe dessus <ion-text color="danger">(:hover)</ion-text>.
    </ion-card-content>
    <ion-card-subtitle>
      <a href="http://friterie.lefebvredavid.fr/" target="_blank">
        <ion-button color="warning" expand="block" fill="outline">
          <p> Lien </p>
        </ion-button>
      </a>
    </ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Site Pizzeria</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Petit site fait pour m'amuser un compteur en <ion-text color="danger">JavaScript</ion-text> d'écompte les jours avant noël.
      Chaque lettre a une couleur differente quand ont passe dessus <ion-text color="danger">(:hover)</ion-text>.
    </ion-card-content>
    <ion-card-subtitle>
      <a href="http://pizzeria.lefebvredavid.fr/" target="_blank">
        <ion-button color="success" expand="block" fill="outline">
          <p> Lien </p>
        </ion-button>
      </a>
    </ion-card-subtitle>
  </ion-card>

</ion-content>