<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

        <h1 class="ion-text-center">Bienvenue</h1>
        
        <p class="ion-text-center">Merci d'avoir télécharger mon application CV.</p>

        <p class="ion-text-center">Sur cette application vous trouverez toutes les informations professionnelle sur moi :</p>
        
        <ion-list>

          <ion-item>
            <ion-icon name="podium" slot="start"></ion-icon>
            Compétences
          </ion-item>

          <ion-item>
            <ion-icon name="code-working" slot="start"></ion-icon>
            Projets
          </ion-item>
          <ion-item>
            <ion-icon name="code-download" slot="start"></ion-icon>
            Réalisations
          </ion-item>

          <ion-item>
            <ion-icon name="contacts" slot="start"></ion-icon>
            Contact
          </ion-item>

        </ion-list>
 
</ion-content>